.poppins-extralight {
    font-family: "Poppins", serif;
    font-weight: 200;
    font-style: normal;
  }
  

/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

body{
    width: 100%;
}

/* Navbar Container */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: cadetblue;
    padding: 10px 20px;
    height: 60px;
}

/* Logo */
.logo {
    height: 50px;
    width: 70px;
}

/* Navigation Items */
.navitems {
    display: flex;
    align-items: center;
}

/* Navigation List */
.navitems ul {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Navigation Links */
.navitems ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px;
    transition: color 0.3s ease-in-out;
}

.navitems ul li a:hover {
    color: yellow;
}

/* login */
#container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background-image: url("https://t4.ftcdn.net/jpg/01/19/11/55/360_F_119115529_mEnw3lGpLdlDkfLgRcVSbFRuVl6sMDty.jpg");
    opacity: 0.3; */
    background-color: aquamarine;
}



#right-container {
    border: 3px solid rgb(15, 15, 15);
    border-radius: 5px;
    width: auto;
    height: auto;
}

#loginForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}

#loginForm button{
    background-color: cadetblue;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#loginForm button a{
    text-decoration: none;
    color: white;
}
#loginForm button:hover{
    background-color: rgb(68, 157, 235);
    color: black;
}

footer{
    background-color: cadetblue;
    color: white;
    text-align: center;
    padding: 10px;
}

/* Responsive Design */
@media (max-width: 768px) {
    nav {
        flex-direction: column;
        height: auto;
        padding: 15px;
        text-align: center;
    }

    .logo {
        margin-bottom: 10px;
    }

    .navitems ul {
        flex-direction: column;
        gap: 10px;
    }
}
